# Pandas Assingment-3

(Based on IPL matches and deliveries dataset)


<a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


<a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [ ]:
import pandas as pd

## Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [22]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Gazal\Documents\matches.csv")
df
a=df.drop_duplicates('season',keep='first')
((a['city'].value_counts()).sort_values(ascending = False)).index[0]

'Mumbai'

## Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [56]:
import pandas as pd
df1=pd.read_csv(r"C:\Users\Gazal\Downloads\deliveries.csv")
df1.shape
a=df1.groupby('bowler').get_group('SL Malinga')
b=a.groupby('batsman')['batsman','batsman_runs'].sum().sort_values("batsman_runs",ascending=False).head(3)
b

             batsman_runs
batsman
JH Kallis              84
SR Watson              81
BB McCullum            81

In [23]:
## Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [36]:
def bowling(team):
    a1= df1['batting_team'] == team
    a1f= df1[a1]
    a2 = a1f['player_dismissed'].isnull()
    a2f = a1f[~a2]
    print(a2f.groupby('bowler').size().sort_values(ascending = False).head(1))

bowling("Chennai Super Kings")

bowler
SL Malinga    28
dtype: int64

## Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won.  [Difficult]

ex.-- if team is CSK-- 
CSK in finals-

Played- 8
Won- 3

If any team which has not played in finals like Gujrat Lions

Gujrat Lions in final

Played-0

In [53]:
def cricket(team):   
    final=df.drop_duplicates('season',keep='last')
    a = (final['team1']  == team) | (final['team2'] == team)
    print("No of times played: ",final[a].shape)
    b= final['winner'] == team
    print("No of times won: ",final[b].shape)
cricket('Chennai Super Kings')

No of times played:  (6, 18)
No of times won:  (2, 18)

## Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [7]:
def cricket(bman):
    df1[df1["batsman"]==bman]
    a=df1.groupby('batsman').get_group(bman)
    b=a.groupby('bowling_team')['bowling_team','batsman_runs'].sum()
    return b;
cricket("S Dhawan")

                             batsman_runs
bowling_team
Chennai Super Kings                   448
Deccan Chargers                       118
Delhi Daredevils                      397
Gujarat Lions                         127
Kings XI Punjab                       530
Kochi Tuskers Kerala                    4
Kolkata Knight Riders                 452
Mumbai Indians                        536
Pune Warriors                          81
Rajasthan Royals                      331
Rising Pune Supergiant                 49
Rising Pune Supergiants                89
Royal Challengers Bangalore           399

In [44]:
ds=df.drop_duplicates('season',keep='last')
ds

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
58,59,2017,Hyderabad,2017-05-21,Mumbai Indians,Rising Pune Supergiant,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",NJ Llong,S Ravi,NaN
116,117,2008,Mumbai,2008-06-01,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,Dr DY Patil Sports Academy,BF Bowden,RE Koertzen,NaN
173,174,2009,Johannesburg,2009-05-24,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Deccan Chargers,6,0,A Kumble,New Wanderers Stadium,RE Koertzen,SJA Taufel,NaN
233,234,2010,Mumbai,2010-04-25,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Chennai Super Kings,22,0,SK Raina,Dr DY Patil Sports Academy,RE Koertzen,SJA Taufel,NaN
306,307,2011,Chennai,2011-05-28,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,normal,0,Chennai Super Kings,58,0,M Vijay,"MA Chidambaram Stadium, Chepauk",Asad Rauf,SJA Taufel,NaN
380,381,2012,Chennai,2012-05-27,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,bat,normal,0,Kolkata Knight Riders,0,5,MS Bisla,"MA Chidambaram Stadium, Chepauk",BF Bowden,SJA Taufel,NaN
456,457,2013,Kolkata,2013-05-26,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,23,0,KA Pollard,Eden Gardens,HDPK Dharmasena,SJA Taufel,NaN
516,517,2014,Bangalore,2014-06-01,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,3,MK Pandey,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
575,576,2015,Kolkata,2015-05-24,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,41,0,RG Sharma,Eden Gardens,HDPK Dharmasena,RK Illingworth,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN